.search-container h2 {
    color: #333;
    text-align: center;
}

.search-container p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.search-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
}


input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-top: 10px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
}

button:hover {
    background-color: #0056b3;
}

